a {
    color: rgb(191, 0, 67) !important;
    text-shadow: 1px 1px rgb(65, 64, 64);
}

button {
    color: black !important;
    text-shadow: 1px 1px rgb(50, 50, 50);
    background-color: rgb(191, 0, 67) !important;
}