button {
    color: black !important;
    text-shadow: 1px 1px rgb(50, 50, 50);
    background-color: rgb(191, 0, 67) !important;
    margin-right: 5%;
    width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
}

.container {
    margin-top: 3%;
}

label {
    color: white;
    margin-top: 2%;
}

input {
    font-size: 1.3rem;
}