.card {
    background-color: rgb(61, 73, 76);
}

button {
    color: black !important;
    text-shadow: 1px 1px rgb(50, 50, 50);
    background-color: rgb(191, 0, 67) !important;
}

i {
    font-weight: bold !important;
    font-size: 1.3rem !important;
}